.nbody {
    /* margin-left: 3.5%; */
}

.card {
    display: inline-block;
}

ul li {
    list-style: none;
    font-size: 20px;
}

.button_group {
    display: inline-block ;
}

.btn1 {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.btn2 {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.btn3 {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}