<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/10.12.5/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/10.12.5/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <meta charset="UTF-8">
    <title>XXXX | XXXX</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
    </style>
    <style type="text/css">
    body {
        margin-top: 40px;
        background: #eee url('https://i.imgur.com/eeQeRmk.png');
    }
    p {
        font-family: 'Noto Sans TC', sans-serif;
        background-color: #eee;
        width: 600px;
        height: 800px;
        border: 1px;
    }
    #jstree1 ul {
        color: red;
    }

    #jstree1 ul ul {
        color: blue;
    }

    #jstree1 ul ul ul {
        color: blue;
    }

    table,
    td {
        background-color: white;
        font-family: 'Noto Sans TC', sans-serif;
        width: 1200px;
        height: 400px;
        font-size: 20px;
        border: 1px solid #333;
    }

    td.content {
        padding-left: 20px;
        width: 30%;
    }

    thead,

    tfoot {
        background-color: MediumSeaGreen;
        color: #fff;
    }

    button {
        font-family: 'Noto Sans TC', sans-serif;
        background-color: MediumSeaGreen;
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 25px;
        padding: 18px;
        width: 180px;
        /* float: right; */
        margin-right: 40px;
        margin-bottom: 20px;
    }
    .panel{
        margin-top: 10px;
        position:relative;
        font-size: 15px;
    }
    .buttonCon{
        position:absolute;
        top:5px;
        right:10px;
        display:none;
    }
    .buttonCon.vis{
        display:block;
    }
    </style>
</head>

<body>
    <!--    <p class="soild">-->
    <table style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th colspan="2" style="font-size: 50px; text-align: left; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;" id=Title>{{ title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="content" style="vertical-align: text-top;">
                    <div id="jstree1">
                        <ul>
                            <li><i class="jstree-icon jstree-ocl"></i>
                                <a href="#"><i class="jstree-icon jstree-themeicon"></i>Root node 1</a>
                                <ul>
                                    <li><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor  jstree-clicked" href="#"><i class="jstree-icon jstree-themeicon"></i><em>initially</em>
                                            <strong>selected</strong></a></li>
                                    <li role="treeitem" data-jstree="{ &quot;icon&quot; : &quot;https://jstree.com/tree-icon.png&quot; }" id="j1_3" class="jstree-node  jstree-leaf" aria-selected="false"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon jstree-themeicon-custom" style="background-image: url(https://jstree.com/tree-icon.png); background-size: auto; background-position: 50% 50%;"></i>custom
                                            icon URL</a></li>
                                    <li role="treeitem" data-jstree="{ &quot;opened&quot; : true }" aria-expanded="true" id="j1_4" class="jstree-node  jstree-open" aria-selected="false"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon"></i>initially open
                                        </a>
                                        <ul role="group" class="jstree-children">
                                            <li role="treeitem" id="j1_5" class="jstree-node  jstree-leaf jstree-last">
                                            <i class="jstree-icon jstree-ocl"></i>
                                            <a class="jstree-anchor" href="#">
                                                <i class="jstree-icon jstree-themeicon">
                                                </i>Another node</a></li>
                                        </ul>
                                    </li>
                                    <li role="treeitem" data-jstree="{ &quot;icon&quot; : &quot;glyphicon glyphicon-leaf&quot; }" id="j1_6" class="jstree-node  jstree-leaf jstree-last"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon glyphicon glyphicon-leaf jstree-themeicon-custom"></i>Custom
                                            icon
                                            class (bootstrap)</a></li>
                                </ul>
                            </li>
                            <li role="treeitem" id="j1_7" class="jstree-node  jstree-leaf jstree-last"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="https://www.jstree.com"><i class="jstree-icon jstree-themeicon"></i>Root node 2</a></li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <center>
                        <button onclick="Back_home()">HOME</button>
                        <button onclick="GetTree()">EXECUTE</button>
                        <button onclick="Test()">!!!!</button>
                    </center>
                    <!-- <button onclick="Check_Data()", style="float: left; margin-left: 15px;"> HISTORY</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</body>
<!-- <script src="../static/script/test.js"></script> -->
</html>

<script type="text/javascript">
$(".panel-success").on('show.bs.collapse', function() {
$('.buttonCon').addClass('vis');
}).on('hide.bs.collapse', function() {
    $('.buttonCon').removeClass('vis');
})

function ReloadData() {
    location.reload();
}

function Test() {
    let timerInterval
        Swal.fire({
        title: 'Execute Job!',
        html: 'Please waiting for agent in <b></b> milliseconds.',
        timer: 10000,
        timerProgressBar: true,
        didOpen: () => {
            Swal.showLoading()
            const b = Swal.getHtmlContainer().querySelector('b')
            timerInterval = setInterval(() => {
            b.textContent = Swal.getTimerLeft()
            }, 100)
        },
        willClose: () => {
            clearInterval(timerInterval)
        }
        }).then((result) => {
        /* Read more about handling dismissals below */
        if (result.dismiss === Swal.DismissReason.timer) {
            console.log('I was closed by the timer')
        }
        })
}

// $(function() {
//     $('#jstree1').jstree({
//         'plugins': ["wholerow", "checkbox"],
//         'core': {
//             'data': [{
//                     "text": "Windows GUI TestCase",
//                     "children": [{
//                             "text": "Home Page",
//                             "state": {
//                                 "selected": true
//                             }
//                         },
//                         {
//                             "text": "Load test",
//                             "icon": "https://jstree.com/tree-icon.png"
//                         },
//                         {
//                             "text": "Login Test",
//                             "state": {
//                                 "opened": true
//                             },
//                             "children": [
//                                 {
//                                 "text": "Correct ID/PW login test",
//                                 "state": {
//                                     "opened": false
//                                 },
//                                 "children": ["Input correct ID/PW make sure login success without error", "Input ID with correct PW and check login success or not", "Empty PW field and input correct ID then check login success or not"],
//                             },
//                                 {
//                                 "text": "Incorrect ID/PW login test",
//                                 "state": {
//                                     "opened": false
//                                 },
//                                 "children": ["Input correct access Num and click search", "Input incorrect access Num and click search", "Input correct Patient ID and click search"],
//                             },
//                             {
//                                 "text": "Brower Test",
//                                 "state": {
//                                     "opened": false
//                                 },
//                                 "children": ["Search without specify inference day", "Input incorrect Patient ID and correctaccess Num then click search", "Input incorrect access Num and correct patient ID then click search"],
//                             }],
//                         },
//                         {
//                             "text": "First Page element check",
//                             "state": {
//                                 "opened": true
//                             },
//                             "children": ["Access Number", "Patient ID", "Inference Date"],
//                         },
//                         {
//                             "text": "Inference result page",
//                             "state": {
//                                 "opened": true
//                             },
//                             "children": ["waInference Status", "Search button ", "upload DICOM"],
//                         },
//                     ]
//                 },
//                 "Stress Test"
//             ]
//         }
//     });
// });

// Data List
var Data = {{ data|tojson }};
var Data_list = JSON.parse(Data);
var Status = {{ result_list|tojson }} ;
console.log(Data_list.FileName);
var JSTree_Data = {{ jstree_data|tojson }}
console.log(JSTree_Data)
var TestCase_History = "TestCase_History"

for (n in Data_list.System) {
    console.log(Data_list.System[n]);
}
$(function ()  {
        createJSTree(JSTree_Data)
    });

    function createJSTree(JSTree_Data) {
    $('#jstree1').jstree({
    'plugins': ["wholerow", "checkbox"],
    'core':{
        'data': JSTree_Data
        }
        });
    }

function Back_home() {
    window.location.href="index"
}

function Check_Data() {
    fetch(TestCase_History, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json",
                        'Accept': 'application/json'
                    },
                    body:"",
                    })
                    .then(res => res.json())
                    .then((data) => {console.log(data)}
                    )}

function btnopen(){
        //设置弹出窗口为浏览器的80%宽，60%高
        var viewheight=(document.body.scrollHeight)*0.8;
        var viewwidth=(document.body.scrollWidth)*0.58;

        //浏览器和屏幕上面和左边的距离
        var t=window.screenY;
        var l=window.screenX;

        var iTop = (document.body.scrollHeight - viewheight) / 2 + t;
        var iLeft = (document.body.scrollWidth -viewwidth) / 2 + l;

        window.open("FileUpload_Api_GitTree","name1","width="+1000+",height="+600+",top="+200+",left="+iLeft+"");
    }

$('.tab a').on('click', function(e) {

    e.preventDefault();

    $(this).parent().addClass('active');
    $(this).parent().siblings().removeClass('active');

    target = $(this).attr('href');

    $('.tab-content > div').not(target).hide();

    $(target).fadeIn(600);

});

function GetTree() {
    const Save_Work = "SaveWork";
    const Update_CaseName = "UpdateCaseName";
    const TestCase_Update = "TestCase_Update";
    const Linux = "Linux_APICase";
    const Windows = "Windows_APICase";
    const Mac = "Mac_APICase";
    const process = "process";
    const reset = "Reset_Ram_CaseNumber"

    var selectedElmsIds = [];
    var selectedElms = $('#jstree1').jstree("get_selected", true);
    var title = document.getElementById('Title');
    console.log(selectedElms);
    // var Data_list = JSON.parse(Data);
    var CaseType = Data_list.CaseType;
    var System = Data_list.System;
    const obj1 = {
        "CaseNumber":Data_list.CaseNumber,
        "Select":selectedElms,
        "yaml":Data,
        "System":System,
        "Account":Data_list.Account,
        "FileName":Data_list.FileName,
        "identity":Data_list.identity
    }
    // console.log(obj1)
    const obj2 = {
        "account":Data_list.account
    }
    const obj3 = {
        "CaseName":Data_list.CaseName,
        "System":Data_list.System,
        "Status":"Online"
    }
    const obj4 = {
        "Name":"Mac01",
        "Status":"Offline"
    }
    const obj6={
        "CaseName":Data_list.CaseName,
        "CaseNumber":Data_list.CaseNumber,
        "System":Data_list.System,
        "Status":"Online"
    }
    const myJSON1 = JSON.stringify(obj1)
    const myJSON2 = JSON.stringify(obj2)
    const myJSON3 = JSON.stringify(obj3)
    const myJSON4 = JSON.stringify(obj4)
    const myJSON6 = JSON.stringify(obj6)

    // console.log(Data)

    $.each(selectedElms, function() {
        selectedElmsIds.push(this.text);
    });
    // (------------------- Check your System Select ----------------)
    // Linux
    fetch(reset, {
        method: 'POST',
        headers: {
            "Content-Type":"application/json"
        },
        body: myJSON2,
        }).then((response)=> {
        return response.text();
    })

    let timerInterval
        Swal.fire({
        title: 'Execute Job!',
        html: 'PLease waiting for agent in <b></b> milliseconds.',
        timer: 10000,
        timerProgressBar: true,
        didOpen: () => {
            Swal.showLoading()
            const b = Swal.getHtmlContainer().querySelector('b')
            timerInterval = setInterval(() => {
            b.textContent = Swal.getTimerLeft()
            }, 100)
        },
        willClose: () => {
            clearInterval(timerInterval)
        }
        }).then((result) => {
        /* Read more about handling dismissals below */
        if (result.dismiss === Swal.DismissReason.timer) {
            console.log('I was closed by the timer')
        }
        })

    for (n=0; n < Status.length; n++) {
        console.log("Check This: ", Status[n])
        if (Status[n].Status == "Normal") {
            if (System.length>1) {
                console.log("System length > 1", System.length)
                // for (num=0 ; num < System.length; num++) {
                const obj5 = {
                    "Name":"Data",
                    "Data":selectedElms,
                    "Status":Data_list["Data"],
                    "CaseType":CaseType,
                    "System":System[n],
                    "FileName":Data_list.FileName,
                }
                myJSON5 = JSON.stringify(obj5)
                fetch(Save_Work, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON5,
                    }).then((response)=> {
                    fetch(Update_CaseName, {
                        method : "POST",
                        headers: {
                            "Content-Type":"application/json"
                        },

                        body:myJSON6,
                        }).then((response)=> {
                            swal(
                                'Great',
                                'The result will be stored in the account',
                                'success'
                            )
                            .then((value) => {
                            swal(`The return value is :${window.location.href="backstage_layer"}`);
                        });
                        return response.text();
                    })
                })

                if (System[n] == "Linux") {
                    fetch(Linux, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },
                    body:myJSON1,
                    }).then((response)=> {
                    return response.text();
                })
                }
                // Windows
                else if (System[n] == "Windows") {
                    fetch(Windows, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                    }).then((response)=> {
                    return response.text();
                })
                }
                // Mac
                else if (System[n] == "Mac") {
                    fetch(Mac, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                    }).then((response)=> {
                    return response.text();
                })
                }
                else if (System[n] == "any") {
                    fetch(Linux, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                    }).then((response)=> {
                    return response.text();
                })
                }
                // All
                else {
                    fetch(Linux, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                    }).then((response)=> {
                    return response.text();
                })
                    fetch(Windows, {
                        method : "POST",
                        headers: {
                            "Content-Type":"application/json"
                        },

                        body:myJSON1,
                        }).then((response)=> {
                        return response.text();
                    })
                    fetch(Mac, {
                        method : "POST",
                        headers: {
                            "Content-Type":"application/json"
                        },

                        body:myJSON1,
                        }).then((response)=> {
                        return response.text();
                    })
                // }
                }
            }
            else {
                var System = System[0];
                console.log("else裡面的system: ", System)
                const obj5 = {
                        "Name":"Data",
                        "Data":selectedElms,
                        "Status":Data_list.Data,
                        "CaseType":CaseType,
                        "System":System,
                        "FileName": Data_list.FileName
                    }
                myJSON5 = JSON.stringify(obj5)
                fetch(Save_Work, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON5,
                    }).then((response)=> {
                    fetch(Update_CaseName, {
                        method : "POST",
                        headers: {
                            "Content-Type":"application/json"
                        },

                        body:myJSON6,
                        }).then((response)=> {
                        return response.text();
                    })
                })
                if (System == "Linux") {
                    fetch(Linux, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },
                    body:myJSON1,
                    }).then((response)=> {
                        if (response.status == 200) {
                            Swal.fire(
                            'Great',
                            'Task is being executed',
                            'success'
                            )
                            .then((value) => {
                                window.location.href="backstage_layer"
                            // swal(`The return value is :${window.location.href="backstage_layer"}`);
                            });
                        }
                        else {
                            Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Agent encountered an error, please try again',
                            footer: '<a href>Why do I have this issue?</a>'
                            })
                        }
                    return response.text();
                })
                }
                // Windows
                else if (System == "Windows") {
                    fetch(Windows, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                    }).then((response)=> {
                    if (response.status == 200) {
                        Swal.fire(
                        'Great',
                        'Task is being executed',
                        'success'
                        )
                        .then((value) => {
                        swal(`The return value is :${window.location.href="backstage_layer"}`);
                        });
                    }
                    else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Agent encountered an error, please try again',
                        footer: '<a href>Why do I have this issue?</a>'
                        })
                    }
                    return response.text();
                })
                }
                // Mac
                else if (System == "Mac") {
                    fetch(Mac, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                }).then((response)=> {
                    if (response.status == 200) {
                        Swal.fire(
                        'Great',
                        'Task is being executed',
                        'success'
                        )
                        .then((value) => {
                        swal(`The return value is :${window.location.href="backstage_layer"}`);
                        });
                    }
                    else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Agent encountered an error, please try again',
                        footer: '<a href>Why do I have this issue?</a>'
                        })
                    }
                    return response.text();
                })
                }
                else if (System == "any") {
                    fetch(Linux, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                    }).then((response)=> {
                    if (response.status == 200) {
                        Swal.fire(
                        'Great',
                        'Task is being executed',
                        'success'
                        )
                        .then((value) => {
                            swal(`The return value is :${window.location.href="backstage_layer"}`);
                        });
                    }
                    else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Agent encountered an error, please try again',
                        // footer: '<a href>Why do I have this issue?</a>'
                        })
                    }
                    return response.text();
                })
                }
                // All
                else {
                    fetch(Linux, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },

                    body:myJSON1,
                    }).then((response)=> {
                    return response.text();
                })
                    fetch(Windows, {
                        method : "POST",
                        headers: {
                            "Content-Type":"application/json"
                        },
                        body:myJSON1,
                        }).then((response)=> {
                        if (response.status == 200) {
                            Swal.fire(
                            'Great',
                            'Task is being executed',
                            'success'
                            )
                            .then((value) => {
                            swal(`The return value is :${window.location.href="backstage_layer"}`);
                            });
                        }
                        else {
                            Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Agent encountered an error, please try again',
                            footer: '<a href>Why do I have this issue?</a>'
                            })
                        }
                        return response.text();
                    })
                    fetch(Mac, {
                        method : "POST",
                        headers: {
                            "Content-Type":"application/json"
                        },

                        body:myJSON1,
                        }).then((response)=> {
                        if (response.status == 200) {
                            Swal.fire(
                            'Great',
                            'Task is being executed',
                            'success'
                            )
                            .then((value) => {
                            swal(`The return value is :${window.location.href="backstage_layer"}`);
                            });
                        }
                        else {
                            Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Agent encountered an error, please try again',
                            footer: '<a href>Why do I have this issue?</a>'
                            })
                        }
                        return response.text();
                    })
                }
            }
        } else {
            const obj8={
                    "Name":"Data",
                    "Account":Data_list.Account,
                    "CaseName": Data_list.CaseName,
                    "CaseNumber": Data_list.CaseNumber,
                    "CaseType": Data_list.CaseType,
                    "System": Data_list.System,
                    "Select":selectedElms,
                    "result": Status[n],
                    "identity": Data_list.identity
                }
            console.log(obj8);
            const myJSON8 = JSON.stringify(obj8)
            fetch(process, {
                    method : "POST",
                    headers: {
                        "Content-Type":"application/json"
                    },
                    body:myJSON8,
                    }).then((response)=> {
                    if (response.status == 200) {
                        Swal.fire(
                        'Great',
                        'But Agent is Busy, Save this Work to queue',
                        'success'
                        )
                        .then((value) => {
                        swal(`The return value is :${window.location.href="backstage_layer"}`);
                        });
                    }
                    else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Agent encountered an error, please try again',
                        }).then((value => {
                            swal(`The return value is :${window.location.href="backstage_layer"}`);
                        })
                        )
                    }
                    return response.text();
            })
        }
    }
}
</script>
