{% extends 'Blog/base.html' %}
{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Blog">文章列表</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ data.1 }}
    </li>
  </ol>
</nav>
<div class="container mt-2" style="white-space: pre-line;">
  <h1>{{ data.1 }}</h1>
  <hr />
    <p style="white-space: pre-line;">{{ data.2 }}</p>
</div>
<div class="driver">
  <button style="float: right; margin-right: 22%;" onclick="location.href='http://192.168.5.181:5588/automation/api_test/get/'" >Example Code</button>
</div>
{% endblock %}