<head>
    <title>About me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark".navbar-fixed-top>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/about/">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="http://localhost:8000/api/">Rest_frame_work</a></li>
                <li><a class="dropdown-item" href="http://192.168.5.181:5588/docs">Fastapi</a></li>
                <li><a class="dropdown-item" href="http://192.168.5.181:5000/UserSystem">Test_platform</a></li>
                <li><a class="dropdown-item" href="http://192.168.5.181:5555/">Dashboard</a></li>
                <li><a class="dropdown-item" href="https://github.com/bleach1425?tab=repositories">Github</a></li>
            </ul>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="card mx-auto mt-5" style="width: 600px;">
        <img class="card-img-bottom" src="../static/images/1.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
            <h4 class="card-title">黃意軒</h4>
            <p class="card-text">
                <li>Backend engineer 1 years</li>
                <li>Software Automation engineer 1 years</li>
            </p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</body>